/*================================================
Whatapp Support Area Style
=================================================*/
.whatsapp_chat_support {
    position: relative;
    display: inline-block;
    vertical-align: top;
  }
  
  .wcs_button {
    text-align: center;
    vertical-align: middle;
    padding: 9px 18px;
    border-radius: 50px;
    background: #2db742;
    color: #fff;
    display: inline-block;
    margin-right: 3px;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  }
  
  .wcs_button .fa-brands {
    font-size: 15px;
    margin-right: 3px;
  }
  
  .wcs_button_circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
  }
  
  .wcs_button_circle .fa-brands {
    line-height: 50px;
    font-size: 30px;
    margin-right: 0;
  }
  
  .wcs_button_label {
    position: absolute;
    bottom: 100%;
    left: -170%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    font-size: 14px;
    background: #d4f3e6;
    padding: 10px 15px;
    border-radius: 20px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  
  .wcs_button_label:hover {
    background-color: #b0e5d4;
  }
  
  .wcs_button_label::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 85%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #d4f3e6;
  }
  
  .wcs_button_icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: middle;
    object-fit: cover;
  }
  
  .wcs_button_text {
    vertical-align: middle;
  }
  
  .wcs_button_label_hide {
    transform: translate(10px, 0);
    opacity: 0;
    visibility: hidden;
  }
  
  .wcs_fixed_right {
    z-index: 999;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  .wcs_popup {
    position: absolute;
    width: 300px;
    bottom: 100%;
    right: 0;
    margin-bottom: 20px;
    visibility: hidden;
    max-width: calc(100vw - 60px);
  }
  
  .wcs_popup_close {
    position: absolute;
    top: 2px;
    right: 8px;
    cursor: pointer;
    opacity: 0.8;
    color: #fff;
    font-size: 18px;
    transition: opacity 0.08s ease-in-out;
  }
  
  .wcs_popup_close:hover {
    opacity: 1;
  }
  
  .wcs_popup_header {
    padding: 20px;
    background: #2db742;
    border-radius: 8px 8px 0 0;
    color: #fff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(43, 43, 43, 0.15);
  }
  
  .wcs_popup_person_container {
    background: #fff;
    padding: 20px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 8px rgba(43, 43, 43, 0.15);
  }
  
  .wcs_popup_person {
    background: #f5f7f9;
    padding: 10px;
    text-align: left;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    transition: box-shadow 0.2s ease;
  }
  
  .wcs_popup_person:hover {
    box-shadow: 0 1px 2px rgba(43, 43, 43, 0.15);
  }
  
  .wcs_popup_person_name {
    font-size: 14px;
    color: #383838;
    font-weight: bold;
  }
  
  .wcs_popup_person_description {
    font-size: 11px;
    line-height: 18px;
    color: #8c8c8c;
  }
  
  .wcs-show .wcs_popup {
    visibility: visible;
  }
  
  .wcs-effect .wcs_popup {
    transform: scale(0.7);
    opacity: 0;
    transition: all 0.3s;
  }
  
  .wcs-show.wcs-effect .wcs_popup {
    transform: scale(1);
    opacity: 1;
  }
